<ion-view view-title="Edit Experiance" class="editprofile"  hide-nav-bar="true">
<ion-content overflow-scroll="false" has-header="true" has-bouncing="true">
<div class="signup-header">
   <div class="row">
    <div class="col-10"><a ui-sref="app.profile">X</a></div>
    <div class="col-75">Add Experience</div>
    <div class="col-15"><a ui-sref="app.profile">Done</a></div>
   </div>
  </div>

<div>
<div class="edithead edithead_button">
<p>Previous Experience</p>
<a ui-sref="app.editexperiance" class="button button-dark add">
  Add
</a>
</div>
</div>

</ion-content>
</ion-view>
