<style type="text/css">
.button.button-icon.button-clear.ion-funnel {
    display: none;
}

</style>
<ion-view align="center" view-title="Completion of Training Certificate" class="certificate">
<ion-content overflow-scroll="false" has-header="true" has-bouncing="true">
<br>
<div class="padding ctc">
<p class='color-dim'>Please upload your Certificate of Completion of Training and it must be as follow:</p>
<ul class="color-high">
<li>- A clear, ligible screen</li>
<li>- It must be a whole document including your name and GMC Number</li>
<li>- Fax and black and white photocopies are not acceptable</li>
</ul>
<p class="color-dim">Please note that if you no longer have original copy of your certificate then we can accept a
revalidation letter </p>
</div>

<div class="row ctx-buttons">
<div class="col">
<a class="button button-dark " ng-click='upload()' ng-href=''>Scan Document</a>
</div>
</div>

</ion-content>
</ion-view>

<style type="text/css">
.bar-dark.bar.bar-header {
    box-shadow: none;
}
</style>
