<style type="text/css">
.button.button-icon.button-clear.ion-funnel {
    display: none;
}

</style>
<ion-view view-title="CV" class="certificate">
<ion-content overflow-scroll="false" has-header="true" has-bouncing="true">
<br>
<div class="padding ctc">
<p class='color-dim'>Please upload your CV and it must be as follow:</p>
<ul class="color-high">
<li>- A clear, ligible screen</li>
</ul>
<p class="color-dim"> </p>
</div>

<div class="row ctx-buttons">
<div class="col">
<a class="button button-outline" ng-click='upload()' ng-href=''>Scan Document</a>
</div>
</div>


</ion-content>
</ion-view>

<style type="text/css">
.bar-dark.bar.bar-header {
    box-shadow: none;
}
</style>
