<ion-view class="signupView" view-title="Sign Up" hide-nav-bar="true">
<ion-content overflow-scroll="false" has-bouncing="true">
  <div class="signup-header">
   <div class="row">
    <div class="col-10"><a ui-sref="login">X</a></div>
    <div class="col-90">Sign Up</div>
   </div>
  </div>
  <div class="section">
   <h2>Thankyou for Signing up!</h2>
   <h2>An email has been sent to you for Verification. Please Verify your email first</h2>
   <button class="button button-positive" ng-click="confirm()">Sign in</button>
  </div>
</ion-content>
</ion-view>
