<ion-view class="homeView"  hide-nav-bar="true">
<ion-content overflow-scroll="false"  has-bouncing="true" >

  <div class="login-head">
    <div class="row">
     <div class="col"><img src="img/logo.png"></div>
    </div>
  </div>
 <div class="login">
 <div class="list list-inset">
  <label class="item item-input">
    <input type="text" placeholder="Email" ng-model='user.email'>
  </label>
  <button ng-click="reset(user)" class="button button-full button-positive">Recover Password</button>
  <div class="login-footer">
    <div class="row">
      <div class="col"><a ui-sref="login">Login</a></div>
    </div>

  </div>
</div>
</div>
</ion-content>
</ion-view>
