<style type="text/css">
.button.button-icon.button-clear.ion-funnel {
    display: none;
}

</style>
<ion-view view-title="" class="profile">
    <ion-nav-bar>
        <a><i class="ion-ios-arrow-thin-left"></i></a>
        <a><i class="ion-ios-close-empty"></i></a>
    </ion-nav-bar>

<ion-content overflow-scroll="false" has-header="true" has-bouncing="true">
<div class="mydocs">
<div class="card">
  <a  class="item row docs-head">
      <h2>Completion of Training Certificate</h2>
  </a>
 <p class="item">
   <span class="paragraph">Please upload your certificate of completion  of training- All documents must be- </span>
   <span>clear and eligible <br> Must be the whole document (all 4 corners must be visible) Fax and black and white copies are not acceptable</span>
 </p>

</div>
    <button class="button button-positive">Scan document</button>
</div>

</ion-content>
</ion-view>

<style type="text/css">
.bar-dark.bar.bar-header {
    box-shadow: none;
}
</style>
