<style type="text/css">
.button.button-icon.button-clear.ion-funnel {
    display: none;
}

</style>
<ion-view view-title="Passport" class="certicate">
<ion-content overflow-scroll="false" has-header="true" has-bouncing="true">
<br>
<div class="padding ctc">
<p class='color-dim'>Please upload your Passport, it must be as follow:</p>
<ul class="color-high">
<li>- A clear, ligible screen</li>
<li>- It must be the whole page including your photo, name and Passport Number</li>
<li>- It must be in date</li>
<li>- Fax and black and white photocopies are not acceptable</li>

</ul>
<p class="color-dim">We do not require the front cover of your passport. If you have a non-EU passport, please also
show a document showing your right to work in UK.</p>
<p class="color-dim">Please note: we are unable to accept a driver's license or other form of photo ID </p>
</div>

<div class="row ctx-buttons">
<div class="col">
<a class="button button-outline " ng-click='upload()' ng-href=''>Scan Document</a>
</div>
</div>

</ion-content>
</ion-view>

<style type="text/css">
.bar-dark.bar.bar-header {
    box-shadow: none;
}
</style>
