<ion-view view-title="Shifts Detail" class="shiftsView sdetai slect">
<ion-content overflow-scroll="false" has-header="true" has-bouncing="true">

<div class="jobs">
<div class="card">
  <div class="item item-divider">
    <strong>Febrauray 17</strong>
  </div>
  <div class="row">
  <div class="col">

    <a class="item item-text-wrap">
      <p><strong>A&E</strong> - FYI and above</p>
      <p class="time">08:00 - 17:00  <span class="applied">Shift Available on other dates</span></p>
      <p class="hour">Prior experiance of value but not essetial</p>
    </a>

  </div>

  </div>


   <div class="row">
  <div class="col col-50">

    <a class="item item-text-wrap">
      <p class="hour"><strong>€36.50 / hour</strong></p>

    </a>

  </div>
  <div class="col col-50">
    <a  class="button button-primery see">See all</a>
     <a ng-click="openPopover($event)" class="button button-primery button_class">Apply</a>
  </div>

  </div>

</div>
</div>

</ion-content>
</ion-view>
