<!-- <ion-view view-title="CV" class="profile">
<ion-content overflow-scroll="false" has-header="true" has-bouncing="true">
<br>
<div class="padding ctc">
<p class='color-dim'>Please upload your CV and it must be as follow:</p>
<ul class="color-high">
<li>- A clear, ligible screen</li>
<li>- It must be a whole document.</li>
</ul>
<p class="color-dim"> </p>
</div>

<div class="row ctx-buttons">
<div class="col">
<a class="button button-outline ">Scan Document</a>
</div>
</div>

<div class="row ctx-buttons">

<div class="col">
<a class="button button-clear button-stable">From Cloud</a>
</div>

</div>

</ion-content>
</ion-view>

<style type="text/css">
.bar-dark.bar.bar-header {
    box-shadow: none;
}
</style> -->
<ion-view view-title="CVS" class="profile">
<ion-content overflow-scroll="false" has-header="true" has-bouncing="true">
<br>
<div class="padding ctc">
<p class='color-dim'>Please upload your CRB/DBS, it must be as follows:</p>
<ul class="color-high">
<li>- A clear, legible screen</li>
<li>- It must be less than 03 years old.</li>
<li>- It must show the whole page including your name, age and 5 fields.</li>
<li>- Fax or black and white photocopies are not acceptable.</li>
</ul>
<p class="color-dim">If your certificate is older than 3 years then please contact us, and we can send you instructions
to apply for a new check.</p>
<p class="color-dim">Please note that if you have signed up to the Update Service, we still need to see a copy of your
  orignal certificate </p>
</div>

<div class="row ctx-buttons">
<div class="col">
<a class="button button-outline" ng-click='upload()' ng-href=''>Scan Document</a>
</div>
</div>

<div class="row ctx-buttons">

<div class="col">
<a class="button button-clear button-stable">From Cloud</a>
</div>

</div>

</ion-content>
</ion-view>

<style type="text/css">
.bar-dark.bar.bar-header {
    box-shadow: none;
}
</style>
