#container {
  position: relative;
  top: 0px;
  left: 0px;
  right: 0px;
  margin: auto;
  display: block;
  -webkit-perspective: 300px;
          perspective: 300px; }

@-webkit-keyframes bender {
  0% {
    -webkit-transform: rotateX(0deg);
            transform: rotateX(0deg); }
  5% {
    -webkit-transform: rotateX(-30deg);
            transform: rotateX(-30deg); }
  15% {
    -webkit-transform: rotateX(-30deg);
            transform: rotateX(-30deg); }
  20% {
    -webkit-transform: rotateX(-30deg) rotateY(-10deg);
            transform: rotateX(-30deg) rotateY(-10deg); }
  25% {
    -webkit-transform: rotateX(-30deg) rotateY(-10deg);
            transform: rotateX(-30deg) rotateY(-10deg); }
  30% {
    -webkit-transform: rotateX(-30deg) rotateY(-10deg);
            transform: rotateX(-30deg) rotateY(-10deg); }
  35% {
    -webkit-transform: rotateX(0deg);
            transform: rotateX(0deg); }
  100% {
    -webkit-transform: rotateX(0deg);
            transform: rotateX(0deg); } }

@keyframes bender {
  0% {
    -webkit-transform: rotateX(0deg);
            transform: rotateX(0deg); }
  5% {
    -webkit-transform: rotateX(-30deg);
            transform: rotateX(-30deg); }
  15% {
    -webkit-transform: rotateX(-30deg);
            transform: rotateX(-30deg); }
  20% {
    -webkit-transform: rotateX(-30deg) rotateY(-10deg);
            transform: rotateX(-30deg) rotateY(-10deg); }
  25% {
    -webkit-transform: rotateX(-30deg) rotateY(-10deg);
            transform: rotateX(-30deg) rotateY(-10deg); }
  30% {
    -webkit-transform: rotateX(-30deg) rotateY(-10deg);
            transform: rotateX(-30deg) rotateY(-10deg); }
  35% {
    -webkit-transform: rotateX(0deg);
            transform: rotateX(0deg); }
  100% {
    -webkit-transform: rotateX(0deg);
            transform: rotateX(0deg); } }

#bender {
  position: relative;
  top: 0px;
  left: 0px;
  right: 0px;
  margin: auto;
  display: block;
  width: 300px;
  height: 245px;
  -webkit-transform: rotateX(0deg);
          transform: rotateX(0deg);
  -webkit-animation: bender 10s ease infinite;
          animation: bender 10s ease infinite; }

.eyes {
  position: relative;
  top: 0px;
  margin: 0 auto;
  display: block;
  width: 265px;
  height: 115px;
  border: solid 8px #333;
  border-radius: 70px;
  z-index: 5;
  background: #bdc3c7;
  overflow: hidden; }

@-webkit-keyframes shadow {
  0% {
    opacity: 0.4; }
  10% {
    opacity: 1; }
  20% {
    opacity: 1; }
  30% {
    opacity: 1; }
  35% {
    opacity: 0.4; }
  100% {
    opacity: 0.4; } }

@keyframes shadow {
  0% {
    opacity: 0.4; }
  10% {
    opacity: 1; }
  20% {
    opacity: 1; }
  30% {
    opacity: 1; }
  35% {
    opacity: 0.4; }
  100% {
    opacity: 0.4; } }

.shadow-eyes {
  position: absolute;
  top: -20px;
  left: 32px;
  display: block;
  width: 185px;
  height: 130px;
  border-radius: 70px;
  background: #7f8c8d;
  -webkit-animation: shadow 10s ease infinite;
          animation: shadow 10s ease infinite; }

.eyesInner {
  position: absolute;
  top: 10px;
  left: 10px;
  display: block;
  width: 230px;
  height: 80px;
  background: #333;
  border-radius: 70px;
  overflow: hidden;
  z-index: 3; }

.shadow-eyeInner {
  position: absolute;
  top: 0px;
  left: 0px;
  display: block;
  width: 85px;
  height: 85px;
  background: white;
  border-radius: 40px; }

.eyes-left {
  position: absolute;
  top: -10px;
  left: 15px;
  display: block;
  width: 95px;
  height: 95px;
  border-radius: 50px;
  background: #ddd8a5;
  overflow: hidden; }

.eyes-right {
  position: absolute;
  top: -10px;
  right: 15px;
  display: block;
  width: 95px;
  height: 95px;
  border-radius: 50px;
  background: #ddd8a5;
  overflow: hidden;
  z-index: 1; }

@-webkit-keyframes eye-left {
  0% {
    height: 10px;
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg); }
  5% {
    height: 60px; }
  15% {
    height: 60px;
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg); }
  20% {
    height: 50px;
    -webkit-transform: rotate(10deg);
            transform: rotate(10deg); }
  30% {
    height: 50px;
    -webkit-transform: rotate(10deg);
            transform: rotate(10deg); }
  40% {
    height: 10px;
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg); }
  100% {
    height: 10px; } }

@keyframes eye-left {
  0% {
    height: 10px;
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg); }
  5% {
    height: 60px; }
  15% {
    height: 60px;
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg); }
  20% {
    height: 50px;
    -webkit-transform: rotate(10deg);
            transform: rotate(10deg); }
  30% {
    height: 50px;
    -webkit-transform: rotate(10deg);
            transform: rotate(10deg); }
  40% {
    height: 10px;
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg); }
  100% {
    height: 10px; } }

.eyelids-left {
  position: absolute;
  top: -10px;
  left: 0px;
  width: 100px;
  height: 10px;
  background: #333;
  -webkit-animation: eye-left 10s ease infinite;
          animation: eye-left 10s ease infinite; }

@-webkit-keyframes eye-right {
  0% {
    height: 10px; }
  6% {
    height: 50px; }
  30% {
    height: 50px; }
  35% {
    height: 10px; }
  100% {
    height: 10px; } }

@keyframes eye-right {
  0% {
    height: 10px; }
  6% {
    height: 50px; }
  30% {
    height: 50px; }
  35% {
    height: 10px; }
  100% {
    height: 10px; } }

.eyelids-right {
  position: absolute;
  top: -10px;
  right: 10px;
  width: 100px;
  height: 10px;
  background: #333;
  -webkit-animation: eye-right 10s ease infinite;
          animation: eye-right 10s ease infinite;
  z-index: 5; }

@-webkit-keyframes iris-left {
  0% {
    top: 40px;
    left: 30px; }
  15% {
    top: 40px;
    left: 30px; }
  25% {
    top: 40px;
    left: 10px; }
  30% {
    top: 40px;
    left: 10px; }
  35% {
    top: 40px;
    left: 30px; }
  100% {
    top: 40px;
    left: 30px; } }

@keyframes iris-left {
  0% {
    top: 40px;
    left: 30px; }
  15% {
    top: 40px;
    left: 30px; }
  25% {
    top: 40px;
    left: 10px; }
  30% {
    top: 40px;
    left: 10px; }
  35% {
    top: 40px;
    left: 30px; }
  100% {
    top: 40px;
    left: 30px; } }

.iris-left {
  position: absolute;
  top: 40px;
  left: 30px;
  display: block;
  width: 20px;
  height: 20px;
  background: #333;
  -webkit-animation: iris-left 10s ease infinite;
          animation: iris-left 10s ease infinite; }

@-webkit-keyframes iris-right {
  0% {
    top: 40px;
    left: 40px; }
  15% {
    top: 40px;
    left: 40px; }
  25% {
    top: 40px;
    left: 10px; }
  30% {
    top: 40px;
    left: 10px; }
  35% {
    top: 40px;
    left: 40px; }
  100% {
    top: 40px;
    left: 40px; } }

@keyframes iris-right {
  0% {
    top: 40px;
    left: 40px; }
  15% {
    top: 40px;
    left: 40px; }
  25% {
    top: 40px;
    left: 10px; }
  30% {
    top: 40px;
    left: 10px; }
  35% {
    top: 40px;
    left: 40px; }
  100% {
    top: 40px;
    left: 40px; } }

.iris-right {
  position: absolute;
  top: 40px;
  left: 70px;
  display: block;
  width: 20px;
  height: 20px;
  background: #333;
  -webkit-animation: iris-right 10s ease infinite;
          animation: iris-right 10s ease infinite; }

.mouth {
  position: relative;
  top: 26px;
  margin: 0 auto;
  display: block;
  width: 200px;
  height: 90px;
  border: solid 5px #333;
  border-radius: 2em 2em 3em 3em;
  background: white;
  overflow: hidden; }

.shadow-mouth {
  position: absolute;
  top: -45px;
  left: 18px;
  display: block;
  width: 150px;
  height: 180px;
  background: white;
  border-radius: 150px; }

.grid-hor {
  position: absolute;
  top: 0px;
  left: 0px;
  display: block;
  width: 100%;
  height: 100%; }

.grid-hor li {
  position: relative;
  top: 0px;
  left: 26px;
  float: left;
  margin-right: 30px;
  list-style-type: none;
  display: block;
  width: 3px;
  height: 98px;
  background: #333; }

.grid-ver {
  position: absolute;
  top: 0px;
  left: 0px;
  display: block;
  width: 100%;
  height: 100%; }

.grid-ver li {
  position: relative;
  top: 20px;
  left: 0px;
  margin-bottom: 30px;
  list-style-type: none;
  display: block;
  width: 200px;
  height: 5px;
  background: #333; }

@media (min-width: 680px) {
  .bigModal {
    top: 0px !important;
    bottom: 0 !important;
    left: 0 !important;
    right: 0 !important;
    width: 100% !important; }
  .platform-ios.platform-cordova .modal-wrapper .modal .bar-header:not(.bar-subheader) > * {
    margin-top: 20px; }
  .platform-ios.platform-cordova .modal-wrapper .modal .bar-header:not(.bar-subheader) {
    height: 64px; }
  .platform-ios.platform-cordova .modal-wrapper .modal .has-header, .platform-ios.platform-cordova .modal-wrapper .modal .bar-subheader {
    top: 64px; } }

.center-content {
  display: table !important;
  width: 100% !important;
  height: 100% !important; }
  .center-content .scroll {
    display: table-cell;
    vertical-align: middle;
    text-align: center; }

.center {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center; }

.animate-item {
  -webkit-animation: fadeInLeft 1s;
          animation: fadeInLeft 1s; }

/* jura-regular - latin */
@font-face {
  font-family: 'Jura';
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/jura/jura-v7-latin-regular.eot");
  /* IE9 Compat Modes */
  src: local("Jura Regular"), local("Jura-Regular"), url("../fonts/jura/jura-v7-latin-regular.eot?#iefix") format("embedded-opentype"), url("../fonts/jura/jura-v7-latin-regular.woff2") format("woff2"), url("../fonts/jura/jura-v7-latin-regular.woff") format("woff"), url("../fonts/jura/jura-v7-latin-regular.ttf") format("truetype"), url("../fonts/jura/jura-v7-latin-regular.svg#Jura") format("svg");
  /* Legacy iOS */ }

.galleryView .item {
  min-height: 130px;
  padding-top: 35px; }
  .galleryView .item .icon:before {
    font-size: 90px; }
  .galleryView .item p {
    color: white;
    padding-top: 12px; }

.galleryView .item.ng-enter-stagger {
  -webkit-animation-delay: 200ms;
          animation-delay: 200ms;
  -webkit-animation-duration: 0;
          animation-duration: 0; }

.galleryView .animated:nth-child(1) {
  -webkit-animation-delay: 0.25s;
          animation-delay: 0.25s; }

.galleryView .animated:nth-child(2) {
  -webkit-animation-delay: 0.5s;
          animation-delay: 0.5s; }

.galleryView .animated:nth-child(3) {
  -webkit-animation-delay: 0.75s;
          animation-delay: 0.75s; }

.galleryView .animated:nth-child(4) {
  -webkit-animation-delay: 1s;
          animation-delay: 1s; }

.galleryView .animated:nth-child(5) {
  -webkit-animation-delay: 1.25s;
          animation-delay: 1.25s; }

.galleryView .animated:nth-child(6) {
  -webkit-animation-delay: 1.5s;
          animation-delay: 1.5s; }

.galleryView .animated:nth-child(7) {
  -webkit-animation-delay: 1.75s;
          animation-delay: 1.75s; }

.galleryView .animated:nth-child(8) {
  -webkit-animation-delay: 2s;
          animation-delay: 2s; }

.galleryView .animated:nth-child(9) {
  -webkit-animation-delay: 2.25s;
          animation-delay: 2.25s; }

.galleryView .animated:nth-child(10) {
  -webkit-animation-delay: 2.5s;
          animation-delay: 2.5s; }

.galleryView .bold {
  font-weight: bold; }

.homeView h1, .homeView button {
  font-family: 'Jura'; }

.homeView h1 {
  font-size: 7em;
  color: white; }

.homeView button {
  font-size: 26px; }

.homeView .scroll-content {
  animation: 26s ease 0s normal none infinite running background;
    background: #EB878F none repeat scroll 0 0;
   }
  .homeView .scroll-content .scroll {
    height: 100%; }
    .homeView .scroll-content .scroll .row-center {
      height: 100%; }

@-webkit-keyframes background {
  0% {
    background-position: 1% 0%; }
  50% {
    background-position: 99% 100%; }
  100% {
    background-position: 1% 0%; } }

@keyframes background {
  0% {
    background-position: 1% 0%; }
  50% {
    background-position: 99% 100%; }
  100% {
    background-position: 1% 0%; } }

[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak, .ng-hide:not(.ng-hide-animate) {
  display: none !important; }

.itemView .animated {
  -webkit-animation-delay: 0.2s;
          animation-delay: 0.2s; }

.menu ion-header-bar {
   background-color: #fff !important;
    border: medium none;
    box-shadow: none;
    color: #fff;
    min-height: 60px;
    padding: 0; }
  .menu ion-header-bar .item {
    background-color: #206AA7;
    border: none;
    width: 100%;
    padding-left: 120px;
    padding-top: 45px; }
    .menu ion-header-bar .item img {
      max-width: 100px !important;
      top: 25% !important;
      left: 10px !important; }
    .menu ion-header-bar .item h2, .menu ion-header-bar .item p {
      font-family: 'Jura'; }
    .menu ion-header-bar .item h2 {
      font-size: 35px;
      font-weight: bold; }
    .menu ion-header-bar .item p {
      font-size: 20px;
      color: white; }

.menu ion-content {
   top: 60px !important;

  background-size: 800% 800%;
  -webkit-animation: background 26s ease infinite;
          animation: background 26s ease infinite; }
  .menu ion-content .item {
    border: none;
    background-color: transparent; }
    .menu ion-content .item .item-content {
      background-color: transparent;
      color: #76757a; }
  .menu ion-content .item.active {
    background-color: white !important; }
    .menu ion-content .item.active .item-content {
      color: #34495E;
      }

      .menu ion-content .item-content
      {
         padding: 28px 18px;
         border-bottom: 1px solid #f5f5f5;
      }

.menu-open .menu ion-header-bar img {
  -webkit-animation-name: flash;
          animation-name: flash; }

.popoverView {
  background-color: #4E5E6E !important; }
  .popoverView .scroll {
    height: 100%; }
    .popoverView .scroll .slider {
      position: absolute !important;
      top: 0 !important;
      left: 0 !important;
      bottom: 0 !important;
      right: 0 !important;
      text-align: center; }
      .popoverView .scroll .slider .slider-slide img {
        max-height: 100%;
        max-width: 100%; }

.usersModal .title, .usersModal .item {
  font-family: 'Jura'; }

.usersModal .title {
  font-size: 26px;
  font-weight: bold; }

.usersModal .item {
  font-size: 20px; }

.usersModal .animate-item.ng-enter {
  -webkit-animation: fadeInLeft 1s;
          animation: fadeInLeft 1s; }

.usersModal .animate-item.ng-enter-stagger {
  -webkit-animation-delay: 200ms;
          animation-delay: 200ms;
  -webkit-animation-duration: 0;
          animation-duration: 0; }

/*# sourceMappingURL=style.css.map */

.login .list.list-inset {
    background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
    padding: 0 15px;
     margin-top: 0;
}
.login .button {
     background: #FFFFFF none repeat scroll 0 0;
    border-radius: 0px !important;
    font-family: Arial;
    font-size: 16px;
    font-weight: 700;
    color: #eb878f;
}
.login .item-input {
    margin: 15px 0;
    border-radius: 6px !important;
}
.login-footer {

    text-align: center;
}
.experiance input::-moz-placeholder, textarea::-moz-placeholder {
    color: #555555 !important;
}
.experiance button {
    background: #34495e none repeat scroll 0 0 !important;
}
.login-footer a {
    color: white;
}

.login-footer button {
    background: transparent none repeat scroll 0 0 !important;
    border: 1px solid #fff !important;
    color: #fff !important;
    margin-top: 12% !important;
     padding: 0 36px;
}
.login-head img {
    margin: 60px 35% 0;
    width: 30%;
}
.menu-head img {
    margin: 20px 35% 0 !important;
}
.signupView .signup-header {
    box-shadow: none;
}
.flex-calendar {
    background: #EB878F;

}

.flex-calendar .days .day {


    color: #fff !important
  }
  .flex-calendar .days .day {
    background: #EB878F !important;

}
.flex-calendar .week {
    color: white !important;
    font-size: 13px !important;
}

.flex-calendar .days .day.selected::before {
    background: #4ED3C2 none repeat scroll 0 0 !important;
}

.flex-calendar .days .day.selected .number {
    background: white none repeat scroll 0 0 !important;
    color: #9B9B9B !important;
    height: 40px !important;
    line-height: 40px !important;
    width: 40px !important;
}
.slected-text {
     color: #202020;
    font-size: 15px;
    font-weight: 700;
}
.hosp {
    color: #000000;
}
.leftside > p {
     color: #484848 !important;
    font-size: 17px !important;
    font-weight: 700;
    padding: 10px 0;
}
.signupView h2 {
     color: white;
    font-size: 18px;
    font-weight: 700;
    padding: 0 8px;
    text-align: center;
}
.login .item-checkbox .checkbox
{
  left: 0;
}
.login .checkbox {

    padding: 12px 0;

}
.login .item-checkbox {
    color: #fff;
    font-size: 14px;
    padding-left: 23px;
}
.login .checkbox input, .checkbox-icon {

    height: 20px;
    width: 20px;
}
.login .links a {
    color: #fff;
    text-decoration: none;
}
.login .item.item-checkbox {
    background: transparent none repeat scroll 0 0;
    border: medium none;
     padding: 0 22px;
}
.login .row.links {
    padding: 0;
     margin-bottom: 20px;
}
.login .links .col {
    padding: 0;
}
.homeView .item-input {
    background: transparent none repeat scroll 0 0;
    border-radius: 0 !important;
}
.login input::placeholder {
    color: #fff;
    opacity: unset;
}

.signuptabs a {
    color: #fff;
    font-weight: 600;
    margin: 0 14px;
    text-decoration: none;
    text-transform: uppercase;
}
.skip {
    color: #34495e !important;
    font-style: italic;
    font-weight: 700;
}
.signupView .login-head img {
    margin: 0 35%;
    width: 20%;
}
.signupView .item-input {

    margin: 0 0 12px;
}
.signupView .item-input {


    padding: 2px 0 5px 16px !important;

}
.signupView .list-inset {
    background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
    padding: 0 15px;
}
.signupView .button {
     background: #007ee5 none repeat scroll 0 0;
    border-radius: 6px;
    font-family: Arial;
    font-size: 16px;
    font-weight: 700;
    width: 100%;
}
.signupView select {
    background: transparent none repeat scroll 0 0;
    color: #fff;
}
.signupView .input-label {
    color: #fff;
}
.signupView .signup-footer p {
    color: #fff;
    letter-spacing: 0;
    margin: 0;
    text-align: justify;
}
.signupView .item-content p
{
  white-space: unset !important;
}
.signupView .item.item-checkbox {
    white-space: normal !important;
}
.signupView .col {
    text-align: center;
}
.signup-header {
    background: #fff none repeat scroll 0 0;
    box-shadow: 2px 2px 2px #c1c1c1;
    padding: 16px 12px;
}
.signupView .signup-header {
    color: white;
    font-size: 16px;
    font-weight: 700;
    text-align: center;
}
.signupView label {
    border-color: #fff !important;
}
.signupView input::placeholder, textarea::placeholder {
    color: #fff;
    opacity: unset;
}

.signup-footer .item-checkbox .checkbox {
    left: -8px;
    top: 16px;
}

.signup-footer .item, .item h1, .item h2, .item h3, .item h4, .item h5, .item h6, .item p, .item-content, .item-content h1, .item-content h2, .item-content h3, .item-content h4, .item-content h5, .item-content h6, .item-content p
{
  white-space: normal !important;
}

.signup-footer .item {
    background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
    border: medium none;
    padding: 0 0 0 20px;
    text-align: left;
    color: #fff;
}
.signupView .list.list-inset > p {
    color: #454545;
    font-size: 14px;
    font-weight: 600;
}
.signup-footer a {
    color: #34495e;
    font-style: italic;
    font-weight: 700;
}
.signup-header a {
    color: white;
}

.menu ion-content .item.active .item-content
{
  background: #F8F8F8  !important;
  border: none;
}
.counter {
    background: #4ed2c3 none repeat scroll 0 0;
    border-radius: 50%;
    color: #fff;
    height: 25px;
    position: absolute;
    right: 10%;
    text-align: center;
    top: 37%;
    width: 25px;
}
.menuclose {
    color: #d2d2d2;
    font-size: 33px;
}
.section h2 {
    color: #505050;
    font-size: 20px;
    font-weight: 600;
    line-height: 35px;
}
.section {
    margin: 40% 0;
    padding: 12%;
    text-align: center;
}

.bar-header
{
  background-color: #EB878F !important;
  border-color: #EB878F !important;

  height: 60px !important;
  padding: 16px 12px !important;

}
.bar .title{
  height: 60px !important;
  line-height: 60px !important;
  font-size: 16px !important;
    font-weight: 700 !important;
}


.sidebarmenu i {
    background: #8493a3 none repeat scroll 0 0;
    border-radius: 5px;
    padding: 8px 14px;
}

.myjobs ion-content {
    background: #ecf0f1 none repeat scroll 0 0;
}
.myjobs .card {
    box-shadow: none;
    margin:0;
}
.jobs p {
    color: #7f7f7f;
    font-size: 13px;
}

.jobs .item-divider {
  background: #ecf0f1 none repeat scroll 0 0;
    color: #637483;
    font-weight: 400;
    padding-bottom: 4px;
}
.blue {
    background: #fff none repeat scroll 0 0;
    border-radius: 50%;
    color: white;
    float: right;
    padding: 2px;
    box-shadow: 0 1px 3px #e4e4e4;
    font-size: 12px;
    height: 25px;
    text-align: center;
    width: 25px;
}
.yellow {
    background: #F9EE55 none repeat scroll 0 0;
    border-radius: 50%;

    color: white;
    float: right;

    padding: 2px;



    box-shadow: 0 1px 3px #e4e4e4;
    font-size: 12px;
    height: 25px;
    text-align: center;
    width: 25px;


}
.jobs .item.item-text-wrap {
    border: medium none;
     padding: 5px 15px;
}
.jobs {
    margin-top: 18px;
}
.upcoming > p {
    background: #9b9b9b none repeat scroll 0 0;
    color: white;
    margin: auto;
    padding: 5px;
    text-align: center;
    width: 100px;
}
.upcoming {
    margin: 15px 0 0;
}
.confirmed {
    text-align: center;
}
.confirmed {
    font-size: 12px;
    text-align: center;
}
.confirmed a {
    background: yellow none repeat scroll 0 0;
    border-radius: 50%;
    color: white;
    font-size: 14px;
    font-weight: 700;
    padding: 5px 8px;
    box-shadow: 3px 8px;
}
.protabs, .profile .col {
    padding: 0;
}
.confirmed p {
    font-size: 12px;
    font-weight: 700;
    margin: 5px 0;
}
.confirmed .con-blue {
    background: #fff none repeat scroll 0 0;
    border-radius: 50%;
    box-shadow: 0 0 4px #fff;
    color: white;
    font-size: 23px;
    font-weight: 700;
    padding: 0 7px;
}

.confirmed .con-yellow {
    background: #F9EE55 none repeat scroll 0 0;
    border-radius: 50%;
    box-shadow: 0 0 4px #F9EE55;
    color: white;
    font-size: 23px;
    font-weight: 700;
    padding: 0 7px;
}
.confirmed button {
     background: #d0021b none repeat scroll 0 0 !important;
    border-radius: 0;
    font-size: 12px;
    font-weight: 700;
    line-height: 10px;
    min-height: 31px;
    padding: 0 12px;
}
.cancel-instru {
    font-size: 11px !important;
    font-style: italic;
    margin: 22px 0 !important;
    text-align: center;
}
.profile-info > img {
    border-radius: 50%;
    width: 30%;
}
.profile-info {
    text-align: center;
}
.profile-info p {
    color: #34495e;
    font-size: 14px;
}
.profile ion-content {
    background-color: #ecf0f1;
}
.profile-card .card {
    box-shadow: none;
    margin: 0;
    padding: 0;
}
.profile-card .item.item-divider {
    background: #ecf0f1 none repeat scroll 0 0;
    color: #637483;
    font-weight: 400;
    padding-bottom: 4px;
}
.profile-card .item.item-text-wrap > p {
    color: #4d6072 !important;
    font-size: 15px;
    font-weight: 400 !important;
    text-align: center;
}
.profile-card .row, .profile-card .col {
     font-size: 15px;
    font-weight: 400;
    margin: 3px 0;
    padding: 0;
}
.profile h2 {
    color: #fff;
    font-family: Helvetica;
    font-size: 29px;

}


.protabs a {
    padding: 10px;
}
.protabs p {
    text-align: left;
    font-size: 18px;
}
.profile-info .card {
    margin: 0;
    text-align: left;
    text-transform: capitalize;
}
.profile-info .card h1 {
   color: #fff;
    font-size: 20px;
    text-transform: uppercase;
}
.profile-info .card p {
    color: #fff;

}
.profile-info .item.item-text-wrap {
     color: #fff;
    font-size: 14px;
    padding: 10px;
}
.profile-card {
    margin: 20px 0;
}
.editprofile .signup-header {
    color: white;
    font-size: 16px;
    font-weight: 700;
    text-align: center;
}
.edithead p {
    margin: 10px 0;
    color: #4d6072 !important;
    font-size: 15px;
    font-weight: 400 !important;
    text-align: center;
}

.editprofile ion-content {
    background-color: #ecf0f1;
}
.editcontent .item-input {
    border-radius: 6px !important;
    border: none !important;
}
.editcontent .col p {
    margin: 0 11px;
        color: #454545;
    font-size: 14px;
    font-weight: 600;
}
.editcontent .list.list-inset {
    margin: 7px 10px;
}

.sidebarmenu .item-content {
    overflow: initial;
}
.platform-ios .popover {
    background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
}

ion-popover-view {
    border-radius: 0 !important;
    left: 0 !important;
    top: 50px !important;
    width: 100% !important;
}
.popup {
    font-size: 20px;
    margin-top: 27% !important;
    text-align: center;
}
.shiftsView .card {
    border: medium none !important;
    box-shadow: none !important;
    margin: 0;
}
.platform-ios .popover .scroll-content {
    background-color: rgba(255, 255, 255, 0.83);
    border-radius: 0;
    margin: 0;
}
.popup i {
    background-color: #fff;
    border-radius: 50%;
    color: white;
    font-size: 37px;
    padding: 13px 22px;
}
.popup > p {
    font-size: 12px;
    font-weight: 500;
    margin-top: 18px;
}
.platform-ios .popover-arrow::after {
    display: none;
}
.platform-android .popover
{
  margin-top: 0 !important;
}
.platform-android .popover
{
  background-color: rgba(255, 255, 255, 0.83) !important;
}

.shiftsView .jobs {
    margin: 10px 0;
}

.applied
{
  color: green;
}
.sdetai .button {
    background: #fff none repeat scroll 0 0;
    color: white;
    padding: 0 14px;
}
.popover-backdrop.active {
    background: rgba(0, 0, 0, 0) none repeat scroll 0 0 !important;
}
.jobsheader {
   background: #f8f8f8 none repeat scroll 0 0;
    margin: 8px 0;
    padding: 10px 17px
}
.jobsheader p {
    color: #b7b7b7;
    font-size: 12px;
    font-weight: 700;
    margin: 0;
    text-transform: uppercase;
}
.see {
    background: #9b9b9b none repeat scroll 0 0 !important;
    border-radius: 0;
    font-size: 12px;
    font-weight: 700;
    line-height: 10px;
    min-height: 31px;
    padding: 8px 15px !important;
}

.button_class
{
  border-radius: 0;
    font-size: 12px;
    font-weight: 700;
    line-height: 10px;
    min-height: 31px;
    padding: 8px 15px !important;
}
.edithead_button {
    text-align: center;
}

.edithead .add {
    background-color: #34495e;
    border-color: transparent;
    color: #fff;
    min-height: 42px;
    padding: 0 50px;
}
.cancelexp
{
text-align: right;
}
.cancelexp .remove {
    background-color: #D0021B;
    border-color: transparent;
    color: #fff;
    text-align: center;
    min-height: 42px;
    padding: 0 50px;
}
.head-button button {
    border-radius: 0;
    line-height: 32px;
    min-height: 32px;
    width: 100%;
}
.head-button button.first {
    background-color: #fff;
    color: #e899a1;
    font-size: 18px;
    font-weight: 600;
}
.custom-head i {
    margin: 0 13px;
}
.head-button button.second {
    background-color: #fff;
    color: #e899a1;
    font-size: 18px;
    font-weight: 600;

}
.bigModal {
    background: #fff none repeat scroll 0 0;
    border-radius: 5px;
    box-shadow: 2px 2px 7px #cacaca;
    min-height: 70%;
    right: 25px;
    top: 8%;
    width: 80%;
}
.bigModal label {
    padding: 6px 70px;
}
.myjobsModel {
    background: #fff none repeat scroll 0 0;
    border-radius: 5px;
    box-shadow: 2px 2px 7px #cacaca;
    min-height: 30%;

     right: 33px;
    top: 18%;
    width: 80%;
}
.myjobsModel label {
    padding: 6px 70px;
}

.profile ion-content {
    background-color: #fff;
}

.ad-experiance {
    border-radius: 0;
    bottom: 0;
    padding: 0 35px;
    position: absolute;
    right: 0;
}
.profile .image {
    background: #7b8994 none repeat scroll 0 0;
    border: 1px solid #f7f7f7;
    border-radius: 50%;
    height: 100px;
    position: relative;
    margin: auto;
    width: 100px;
}




/*........................chat..........................*/


.menuclass {
    position: fixed;
    top: 0px;
    left: 0px;
    right: 0px;
    width: 100%;
    height: 50px;
    background: rgba(82,179,217,0.9);
    z-index: 100;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
}


.back img {
    position: absolute;
    top: 5px;
    left: 30px;
    width: 40px;
    height: 40px;
    background-color: rgba(255,255,255,0.98);
    border-radius: 100%;
    -webkit-border-radius: 100%;
    -moz-border-radius: 100%;
    -ms-border-radius: 100%;
    margin-left: 15px;
    }
.back:active {
    background: rgba(255,255,255,0.2);
}
.name{
    position: absolute;
    top: 3px;
    left: 110px;
    font-family: 'Lato';
    font-size: 25px;
    font-weight: 300;
    color: rgba(255,255,255,0.98);
    cursor: default;
}
.last{
    position: absolute;
    top: 30px;
    left: 115px;
    font-family: 'Lato';
    font-size: 11px;
    font-weight: 400;
    color: rgba(255,255,255,0.6);
    cursor: default;
}
.mydocs h2 {
     color: #fff;
    font-size: 16px;
    font-weight: 600;
    margin: 0;
    text-transform: uppercase;
}
.mydocs .card {
    color: #fff;
}
.mydocs .close {
    border: medium none;
    margin: 15px;
    text-align: center;
}
.mydocs p {
    color: #fff;
    overflow: unset;
    text-align: justify;
    white-space: initial;
}
.jobapply a {
    background: #eb878f none repeat scroll 0 0;
    padding: 5px 50px;
    text-decoration: none;
}
.mydocs .docs-head {
    background-color: #fff;
    padding: 12px 5px;
}
.color-dim
{
  color: #9bdfdf;
}
.color-high
{
  color: #ebebeb;
}
.ctc {
    font-size: 15px;
}
.ctc p {
    margin: 30px 0;
    text-align: justify;
    color: white;
}
.ctx-buttons {
    text-align: center;
}
.ctx-buttons .button {
    border-color: #dedede;
    color: white;
    margin: 20px;
    padding: 0 80px;
}
.button.button-clear.button-stable {
    color: #f8f8f8;
}
.button.footer-btn {
    color: #EA868E;
    position: absolute;
    right: 0;
    top: 0;
    z-index: 999;
    background: #EA868E;
}
.docs-head h1:last-child {
    text-align: right;
}
.docs-head h1 {
     color: white;
    font-size: 25px;
    margin: 0;
    text-transfor
}

/* M E S S A G E S */

.chat {
    list-style: none;
    background: none;
    margin: 0;
    padding: 0 0 50px 0;
    margin-top: 60px;
    margin-bottom: 10px;
}
.chat li {
    padding: 0.5rem;
    overflow: hidden;
    display: flex;
}
.chat .avatar {
    width: 40px;
    height: 40px;
    position: relative;
    display: block;
    z-index: 2;
    border-radius: 100%;
    -webkit-border-radius: 100%;
    -moz-border-radius: 100%;
    -ms-border-radius: 100%;
    background-color: rgba(255,255,255,0.9);
}
.chat .avatar img {
    width: 40px;
    height: 40px;
    border-radius: 100%;
    -webkit-border-radius: 100%;
    -moz-border-radius: 100%;
    -ms-border-radius: 100%;
    background-color: #EB878F;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
}
.chat .day {
    position: relative;
    display: block;
    text-align: center;
    color: #c0c0c0;
    height: 20px;
    text-shadow: 7px 0px 0px #e5e5e5, 6px 0px 0px #e5e5e5, 5px 0px 0px #e5e5e5, 4px 0px 0px #e5e5e5, 3px 0px 0px #e5e5e5, 2px 0px 0px #e5e5e5, 1px 0px 0px #e5e5e5, 1px 0px 0px #e5e5e5, 0px 0px 0px #e5e5e5, -1px 0px 0px #e5e5e5, -2px 0px 0px #e5e5e5, -3px 0px 0px #e5e5e5, -4px 0px 0px #e5e5e5, -5px 0px 0px #e5e5e5, -6px 0px 0px #e5e5e5, -7px 0px 0px #e5e5e5;
    box-shadow: inset 20px 0px 0px #e5e5e5, inset -20px 0px 0px #e5e5e5, inset 0px -2px 0px #d7d7d7;
    line-height: 38px;
    margin-top: 5px;
    margin-bottom: 20px;
    cursor: default;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
}

.other .msg {
    order: 1;
    border-top-left-radius: 0px;
    box-shadow: -1px 2px 0px #D4D4D4;
    background: #eb878f none repeat scroll 0 0;
}


.self {
    justify-content: flex-end;
    align-items: flex-end;
}
.self .msg {
    order: 1;
    border-bottom-right-radius: 0px;
    box-shadow: 1px 2px 0px #D4D4D4;
}
.self .avatar {
    order: 2;
}
.self .avatar:after {
    content: "";
    position: relative;
    display: inline-block;
    bottom: 19px;
    right: 0px;
    width: 0px;
    height: 0px;
    border: 5px solid #fff;
    border-right-color: transparent;
    border-top-color: transparent;
    box-shadow: 0px 2px 0px #D4D4D4;
}

.msg {
    background: white;
    min-width: 50px;
    padding: 10px;
    border-radius: 2px;
    box-shadow: 0px 2px 0px rgba(0, 0, 0, 0.07);
}
.other .msg p {
    color: white !important;
}
.msg p {
    font-size: 0.8rem;
    margin: 0 0 0.2rem 0;
    color: #777;
}
.msg img {
    position: relative;
    display: block;
    width: 450px;
    border-radius: 5px;
    box-shadow: 0px 0px 3px #eee;
    transition: all .4s cubic-bezier(0.565, -0.260, 0.255, 1.410);
    cursor: default;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
}
@media screen and (max-width: 800px) {
    .msg img {
    width: 300px;
}
}
@media screen and (max-width: 550px) {
    .msg img {
    width: 200px;
}
}

.msg time {
    font-size: 0.7rem;
    color: #fff;
    margin-top: 3px;
    float: right;
    cursor: default;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
}
.msg time:before{
    content:"\f017";
    color: #ddd;
    font-family: FontAwesome;
    display: inline-block;
    margin-right: 4px;
}

emoji{
    display: inline-block;
    height: 18px;
    width: 18px;
    background-size: cover;
    background-repeat: no-repeat;
    margin-top: -7px;
    margin-right: 2px;
    transform: translate3d(0px, 3px, 0px);
}
emoji.please{background-image: url(http://imgur.com/ftowh0s.png);}
emoji.lmao{background-image: url(http://i.imgur.com/MllSy5N.png);}
emoji.happy{background-image: url(http://imgur.com/5WUpcPZ.png);}
emoji.pizza{background-image: url(http://imgur.com/voEvJld.png);}
emoji.cryalot{background-image: url(http://i.imgur.com/UUrRRo6.png);}
emoji.books{background-image: url(http://i.imgur.com/UjZLf1R.png);}
emoji.moai{background-image: url(http://imgur.com/uSpaYy8.png);}
emoji.suffocated{background-image: url(http://i.imgur.com/jfTyB5F.png);}
emoji.scream{background-image: url(http://i.imgur.com/tOLNJgg.png);}
emoji.hearth_blue{background-image: url(http://i.imgur.com/gR9juts.png);}
emoji.funny{background-image: url(http://i.imgur.com/qKia58V.png);}

@-webikt-keyframes pulse {
  from { opacity: 0; }
  to { opacity: 0.5; }
}

::-webkit-scrollbar {
    min-width: 12px;
    width: 12px;
    max-width: 12px;
    min-height: 12px;
    height: 12px;
    max-height: 12px;
    background: #e5e5e5;
    box-shadow: inset 0px 50px 0px rgba(82,179,217,0.9), inset 0px -52px 0px #fafafa;
}

::-webkit-scrollbar-thumb {
    background: #bbb;
    border: none;
    border-radius: 100px;
    border: solid 3px #e5e5e5;
    box-shadow: inset 0px 0px 3px #999;
}

::-webkit-scrollbar-thumb:hover {
    background: #b0b0b0;
  box-shadow: inset 0px 0px 3px #888;
}

::-webkit-scrollbar-thumb:active {
    background: #aaa;
  box-shadow: inset 0px 0px 3px #7f7f7f;
}

::-webkit-scrollbar-button {
    display: block;
    height: 26px;
}

/* T Y P E */

input.textarea {
    position: fixed;
    bottom: 0px;
    left: 0px;
    right: 0px;
    width: 100%;
    height: 50px;
    z-index: 99;
    background: #fafafa;
    border: none;
    outline: none;
    padding-left: 55px;
    padding-right: 55px;
    color: #666;
    font-weight: 400;
}
.emojis {
    position: fixed;
    display: block;
    bottom: 8px;
    left: 7px;
    width: 34px;
    height: 34px;
    background-image: url(http://i.imgur.com/5WUpcPZ.png);
    background-repeat: no-repeat;
    background-size: cover;
    z-index: 100;
    cursor: pointer;
}
.emojis:active {
    opacity: 0.9;
}
.jobs-listview h2 {
    color: #34495e;
    font-size: 18px;
    font-weight: 700;
    text-transform: uppercase;
}
.jobs-listview button {
     background: #34495e none repeat scroll 0 0;
    border: medium none;
    border-radius: 4px;
    color: white;
    font-size: 14px;
    margin: 2px 0;
    padding: 4px;
    text-align: center;
    width: 100%;
}
.jobs-listview p {
    color: #fff;
    font-size: 15px;
    font-weight: 700;
}
.jobs-listview .second-row .col {
    color: #616161;
    font-weight: 400;
    padding: 0;
}
.jobs-listview .second-row span {
    color: #34495e;
    font-weight: 700;
}
.jobs-listview {
    border-bottom: 4px solid #f1f1f1;
}
.profile-info-desc {
     background: #ea868e none repeat scroll 0 0;
    color: #fff;
    padding: 26px 0;

}
.profile-info nav a.active {
    background: #525461 none repeat scroll 0 0;
    color: #fff;
}
.PersonalDetail.docs input {
    font-weight: 600;
}
.PersonalDetail input {
    border-bottom: 1px solid #c1d9eb;
    width: 100%;
}
.PersonalDetail.docs .input-label {
    font-size: 17px;
    margin-top: 30%;
}
.button.btn-float {
    bottom: -10px;
    left: -40px;
    position: absolute;
    min-height: 40px !important;
    min-width: 44px !important;
    padding: 0 !important;
    border-radius: 50%;
    color: #fff !important;
    background: #007EE5 !important;
}
.card-background
{
  background:
}
.nobackground .item {
    background: rgba(0, 0, 0, 0) none repeat scroll 0 0 !important;
}
.jobs-detail input {
    border-bottom: 1px solid #ececec;
}
.jobs-detail .row, .jobs-detail .col {
    padding: 0 5px !important;
}
.jobs-detail ion-content {
    background: #fff none repeat scroll 0 0;
}
.plus {
    background: #32cd67 none repeat scroll 0 0;
    border-radius: 50%;
    color: #fff;
    font-size: 14px !important;
    padding: 2px 7px;
}
.upload {
    color: #ea868e;

}
.circle
{
  background: #EA878E none repeat scroll 0 0;
    border-radius: 50%;
    color: #fff;
    font-size: 14px !important;
    padding: 2px 7px;
}
.button.btn-float .icon::before  {
    display: inline-block;
    font-size: 17px !important;
    line-height: 41px;
    padding: 0 0 1px;
    pointer-events: none;
    vertical-align: inherit;
}
.PersonalDetail button {
    background: none !important;
    color: #8c8c8c !important;
}
.PersonalDetail .input-label {
    font-size: 10pt;
    font-weight: 600;
    padding: 2px 10px 7px 6px !important;
}
.profile nav a {
    color: #4b4b4b;
    float: left;
    line-height: 22px;
    min-height: 24px;
    padding: 0;
    width: 50%;
}
.profile nav {
    border: 3px solid #525461;
    border-radius: 3px;
    margin: 20px 15px;
    min-height: 28px;
    padding: 0;
}
.picbutton {
    color: #fff;
    font-size: 32px;
    position: absolute;
    right: 0;
    bottom: 0;
}
.profile h4 {
    color: #fff;
}
.info-part {
    margin-top: 266px;
}
.profile-experiance .col {
    padding-bottom: 0;
}
.profile-experiance a {
    text-decoration: none;
}
.setting .item-body {
    padding: 0;
}
.setting h2 {
   color: #636363;
    font-size: 17px;
    font-weight: 600;
    text-transform: capitalize;
    white-space: pre-line;
}
.ad-experiance {
    border-radius: 0;
    bottom: 0;
    font-size: 15px;
    font-weight: 600;
    line-height: 30px;
    min-height: 0;
    padding: 0 35px;
    position: absolute;
    right: 0;
    text-transform: uppercase;
    width: 100%;
}

.profile-experiance h1 {
    color: #fff;
    font-size: 20px;
    margin: 0;
    text-transform: uppercase;
}
.profile-experiance .card {
     margin: 0 10px;
    width: auto;
}
.profile-experiance p {
    margin: 4px 0;
}
.profile-experiance .exp {
    color: white;
    font-size: 20px;
    font-weight: 600;
    padding: 0 0 8px 10px;
}

.empty-avator {
      background: #7b8994 none repeat scroll 0 0;
    border-radius: 50%;
    height: 30px;
    margin: 5px 0;
    width: 30px;
}
.leftchatitem {
    text-align: center;
}
.leftchatitem .day {
    font-size: 9px !important;
    font-weight: 700;
    text-transform: uppercase;
}
.settingView i {
    font-size: 16px !important;
}
.settingView p {
    color: #3d464d;
    font-size: 20px;
}
.settingView button {
    background: #ea868e none repeat scroll 0 0 !important;
    border-radius: 0;
    margin: 18px 104px;
    padding: 0 50px;
    color: #fff;
    font-size: 14px !important;
}
.chatgroup h2 {
    color: #3f4850;
}
.settingView .item {
    background: #cecece none repeat scroll 0 0;
}

.count {
    background: #3d464d none repeat scroll 0 0;
    border-radius: 50%;
    color: #fff !important;
    font-size: 11px !important;
    height: 20px;
    margin: 0 18px !important;
    width: 20px;
}
#pp{
    width: 100px;
    height: 100px;
    border-radius: 50%
}
.doc{
    font-size: 12px !important;
    margin-left: -10% !important;
}

.ion-upload:before {
    margin-top: -10% !important;
}
PersonalDetail .row{
    padding: 4% !important;
}
.PersonalDetail p{
    font-size: 10pt !important;
    padding-top: 0px;
}
.ion-ios-compose-outline:before {
    margin-top: 20%;
    font-size: 30pt;
}
.certificate{
    background-color: #ea868e;
    color: white;
}
.slidingTabs ul li{
    width: 33%;
    color: black !important;
    line-height: 60px !important;
}
.slidingTabs ul{
    background-color: white !important;
}
.slidingTabs ul li.tab-active{
    color: #3c3b4a !important;
}
.slidingTabs .tab-indicator-wrapper .tab-indicator{
    color: blue !important;
}
p{
  padding: 0px;
}
div .tab-indicator{
    background-color: #ea868e !important;
}
PersonalDetail div.col{
  padding-bottom: 15px !important;
  padding-top: 15px;
  padding-left: 10px;
  padding-right: 10px;
}
